body{
	font-family: 'Inconsolata', monospace;
	background: linear-gradient(to bottom, #00ffff -1%, #66ff33 88%);
	height: 100vh;
}
.secpage{
	background: linear-gradient(to bottom, #ff6699 -1%, #ff99cc 88%);
height: 100vh;
}
div{
	display: flex;
	justify-content: center;
	align-content: center;
}
.figure{
	display: flex;
	justify-content: center;
	align-content: center;
}
#circle{
	width: 120px;
	height: 120px;
	background: yellow;
	-moz-border-radius:60px;
	-webkit-border-radius:60px;
	border-radius: 60px;
}
#triangle{
	width: 0;
	height: 0;
	border-bottom: 140px solid #008B8B;
	border-right: 70px solid transparent;
	border-left: 70px solid transparent;

}
#square {
    width: 120px;
    height: 120px;
    background: #f447ff;
}
h1{
	font-family: 'Stalinist One', cursive;
}
